* {
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

* {
    outline : none !important;
}

input {
    border : 0;
}

input::-webkit-calendar-picker-indicator {
    display: none;
  }

.react-datepicker__input-container {
    height : 100%;
}

.react-datepicker__input-container button {
    width : 100%;
    height : 100%;
    border-radius : 5px;
}

.react-datepicker-wrapper{
    width : 100%;
    height : 100%;
}

form {
    max-height: inherit;
}

.form-row {
    max-height: inherit;
}

.form-row div{
    max-height: inherit;
}