.perPage:focus {
  font-weight: bolder;
}

.perPage {
  border: none;
  background: white;
}


.containerBox {
  margin: 0 auto;
  max-width: 1032px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px !important;
}

.filterBox,
.filterBox > div {
  width: 180px;
}

.filterBox {
  margin: 0 20px 0 10px;
}

.galleryBox {
  width: 600px;
}

.galleryBox > div {
  max-width: 100%;
}

.sortBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sortElement {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.perPageComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
}

.sortButtonComponent,
.sortButtonComponent div,
.sortButtonComponent select {
  width: 130px;
  height: 30px;
  font-size: 12px;
}

.totalHotels {
  flex-basis: 500px;
}

.bgHighlight {
  position: relative;
  top: 3px;
  background-color: rgb(246, 245, 246);
  padding: 5px;
  height: 100% !important;
}

/* .searchStyle {
  margin: 1.5rem auto;
  max-width: 1000px;
} */
